<div class="app-container">
  <mat-toolbar color="primary" class="toolbar">
    <mat-icon>cloud_sync</mat-icon>
    <span class="spacer-small">Airtable Integration Dashboard</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="authStatus.authenticated" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer mode="side" opened class="drawer">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a> -->
        <a mat-list-item routerLink="/authentication" routerLinkActive="active-link">
          <mat-icon matListItemIcon>lock</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/data-fetch" routerLinkActive="active-link">
          <mat-icon matListItemIcon>cloud_download</mat-icon>
          <span matListItemTitle>Data Fetch</span>
        </a>
        <a mat-list-item routerLink="/scraping" routerLinkActive="active-link">
          <mat-icon matListItemIcon>find_in_page</mat-icon>
          <span matListItemTitle>Revision History</span>
        </a>
        <a mat-list-item routerLink="/data-view" routerLinkActive="active-link">
          <mat-icon matListItemIcon>table_view</mat-icon>
          <span matListItemTitle>Data View</span>
        </a>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="content">
      <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar">
      </mat-progress-bar>

      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>